.main-page {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: #d9d9d9;
}

.title {
  padding: 1rem;
  font-size: 2rem;
}

.description {
  padding: 1rem;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}